<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Learn More About Our Team!</h2>
            <a href="https://www.linkedin.com/in/anna-syrigonaki/" onclick="openProfiles1(event)" class="btn btn-default btn-xl wow tada">Meet Anna</a>
            <a href="https://www.linkedin.com/in/georgedimou/" onclick="openProfiles2(event)" class="btn btn-default btn-xl wow tada">Meet George</a>
            <a href="https://bigblue.academy/en" onclick="openProfiles3(event)" class="btn btn-default btn-xl wow tada">Meet Big Blue</a>
        </div>
    </div>
</aside>
