<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Learn More About Our Team!</h2>
            <div class="btn-container">
                <a href="https://www.linkedin.com/in/anna-syrigonaki/" onclick="openProfile(event, 'https://www.linkedin.com/in/anna-syrigonaki/')" class="btn btn-default btn-xl wow tada">Meet Anna</a>
            </div>
            <div class="btn-container">
                <a href="https://www.linkedin.com/in/georgedimou/" onclick="openProfile(event, 'https://www.linkedin.com/in/georgedimou/')" class="btn btn-default btn-xl wow tada">Meet George</a>
            </div>
            <div class="btn-container">
                <a href="https://bigblue.academy/en" onclick="openProfile(event, 'https://bigblue.academy/en')" class="btn btn-default btn-xl wow tada">Meet Big Blue</a>
            </div>
        </div>
    </div>
</aside>
