<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Edge Media offers comprehensive marketing solutions, including digital advertising, social media management, content creation, branding, SEO, and strategic campaign planning to help businesses achieve their marketing goals and drive growth.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
