<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="tel:+306949117184" onclick="togglePhoneNumber(event)">
                <i id="phoneIcon" class="fa fa-phone fa-3x"></i>
            </a>
        </div>
        
        <script>
            var phoneNumbers = [
                "+306949117184",  // First phone number
                "+306983953302"   // Second phone number
            ];
            var currentIndex = 0;
        
            function togglePhoneNumber(event) {
                event.preventDefault();
                var phoneIcon = document.getElementById('phoneIcon');
        
                // Toggle between phone numbers
                currentIndex = (currentIndex + 1) % phoneNumbers.length;
                var currentPhoneNumber = phoneNumbers[currentIndex];
        
                // Update link href
                event.currentTarget.setAttribute('href', 'tel:' + currentPhoneNumber);
            }
        </script>

    </div>
</section>
