<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>We Are [your] Agency   Edge Media</h1>
            <hr>
            <p>Edge Media is your go-to destination for innovative and dynamic advertising solutions. Our expert team specializes in crafting compelling campaigns that resonate with your audience and drive results. Whether you're looking to enhance your brand presence or launch a new product, Edge Media combines creativity, strategy, and cutting-edge technology to deliver exceptional outcomes.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
